@font-face {
    font-family: "ABCMonumentGroteskMono";
    src: url(../fonts/ABCMonumentGroteskMono-Regular.woff2) format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: "NHaasGroteskDSPro";
    src: url(../fonts/NHaasGroteskDSPro-55Rg.woff2) format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: "NHaasGroteskTXPro";
    src: url(../fonts/NHaasGroteskTXPro-55Rg.woff2) format("woff2");
    font-weight: 400;
}